html,
body,
#root,
.container,
.center-page {
  height: 100%;
  
}

.container{
  width: 100%;
}
.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 5.1875rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

header .logo {
  margin-right: 1rem;
}

header .logo img {
  vertical-align: middle;
}

a.button.active {
  border: 1px solid var(--fore-color);
}

